@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

/* CONTEÚDO DO SITE */

#menu-opt, #navMob {
    display: none;
}

#indisponivel {
    padding: 0px 15px;
    text-align: center;
    display: none;
}

#indisponivel h2, #indisponivel p {
    font-family: "Inter", sans-serif;
}

.menu {
    display: none;
}

.menu > i {
    font-size: 25px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 75px;
    background-color: #fff;
}

.logo img {
    width: 110%;
}

#navPC ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
}

#navPC a { 
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    transition: color, 0.3s;
}

#reciclarBtn {
    background-color: #4CAF4F;
    border-radius: 4px;
    padding: 13px 30px;
    transition: scale 0.5s;
    cursor: pointer;
}

.c-white {
    color: #fff;
}

#reciclarIcon {
    margin-right: 10px;
    font-size: 20px;
}

#user {
    font-size: 30px;
    color: #1a1a1a;
    transition: color, 0.3s;    
}

#user:hover {
    color: #4CAF4F;
}

.nav1 {
    color: black;
}

.nav1:hover {
    color: #4CAF4F;
    transition: color, 0.3s;
}

#reciclarBtn:hover {
    scale: 1.05;
    transition: scale 0.5s;
}

.div {
    height: auto;
    padding-left: 80px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.hero-section {
    height: auto;
    background-color: #F5F7FA;
}

.hero-section td {
    width: 50%;
    height: 100%;
}

#heroText {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

#heroText h1 {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-style: normal;

    font-size: 60px;
    color: #2C2C2C;
    width: 90%;
    line-height: 60px;
}

#heroText h1 span {
    color: #4CAF4F;
}

#heroText p {
    margin-top: 10px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #353535;
}

#heroText button {
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 180px;
    height: 50px;
    margin-top: 35px;

    color: white;
    font-size: 17px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-style: normal;

    background-color: #4CAF4F;
    border: none;
    border-radius: 5px;

    transition: scale, 0.5s;
}

#heroText button:hover {
    scale: 103%;
    transition: scale, 0.5s;
}

#heroText button i {
    font-size: 22px;
    margin-right: 10px;
}

#heroImg {
    text-align: center;
}

#heroImg img {
    width: 55%;
}

#proposito table {
    margin-top: 45px;
}

#proposito #propTitle {
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-style: normal;

    font-size: 40px;
}

#proposito #propDesc {
    color: rgba(0, 0, 0, 0.7);
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-top: 5px;

    font-size: 15px;
}

#propText {
    width: 50%;
    color: rgba(0, 0, 0, 0.9);
    text-align: justify;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 5px;

    font-size: 18px;
    line-height: 26px;
}

#propImg {
    width: 50%;
    margin-left: 100px;
}

.processoDiv {
    margin-top: 50px;
    width: 100%;
    text-align: center;
}

.processoDiv img {
    margin-right: 80px;
    width: 90%;
}

.propContent {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}